@import url(https://fonts.adobe.com/fonts/inter-variable);
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: ;
  --breakpoint-md: 640px;
  --breakpoint-lg: 770px;
  /* Fonts */
  --font-family-inter: "Inter Variable" "SF Pro Display", -apple-system,
    BlinkMacSystem;

  --text-*: initial;
  --text-2xl: 3.2rem;
  --text-xl: 2.5rem;
  --text-md: 1.313rem;
  --text-normal: 1.2rem;
  --text-sm: 0.938rem;
  --text-xs: 0.875rem;

  --color-*: initial;
  --color-background: #08090a;
  --color-button: rgb(230, 230, 230);
  --color-button-background: rgb(40, 40, 44);
  --color-bg-translucent: hsla(0, 0%, 100%, 0.05);
  /* Text Colors */
  --color-text-green: rgb(104, 204, 88);
  --color-text-orange: rgb(242, 153, 74);
  --color-text-red: rgb(197, 40, 40);
  --color-text-white: #fff;
  --color-text-teritary: rgb(208, 214, 224);
  --color-text-primary: rgb(247, 248, 248); /* white */
  --color-text-subtitle: rgba(255, 255, 255, 0.7);
  --color-text-secondary: rgb(138, 143, 152); /* greyish */
  --color-text-black: rgb(8, 9, 10); /* black */
  --color-text-decoration: rgb(138, 143, 152);
  --color-border: rgb(35, 37, 42);
  --color-container-background: "#141516";
  --color-bg-translucent: hsla(0, 0%, 100%, 0.05);

  --color-bg-quinary: #282828;
  --spacing-0: 0;
  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.6rem;
  --spacing-5: 2rem;
  --spacing-6: 2.4rem;
  --spacing-7: 2.8rem;
  --spacing-8: 3.2rem;
  --spacing-9: 3.6rem;
  --spacing-10: 4rem;
}

@layer components {
  h1 {
    @apply text-[3.2rem] tracking-tighter text-[var(--color-text-primary)] leading-[3.75rem] font-medium;
  }
  .space-container {
    @apply max-w-[59rem] py-[160px] mx-auto px-4;
  }
  .bg-gradient {
    @apply inset-0 w-full h-full bg-gradient-to-b from-[var(--color-bg-translucent)] to-transparent;
  }

  .button-primary {
    @apply bg-button  text-background px-2 py-1 text-xs font-medium rounded-[10px] transition cursor-pointer tracking-normal;
  }
  .button-secondary {
    @apply text-xs text-text-secondary hover:text-text-primary transition;
  }
  .img-container {
    @apply relative w-full h-[400px] sm:h-[500px] md:h-[600px] lg:h-[700px] overflow-hidden;
  }
  .img {
    @apply w-full h-full object-cover object-top;
    mask-image: radial-gradient(
      90.83% 90.84% at 50% 16.17%,
      #d9d9d9 0%,
      rgba(165, 160, 160, 0) 100%
    );
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #fff, var(--color-text-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* apply font in whole app */
body {
  font-family: var(--font-family-inter);
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
